* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
   background: linear-gradient(135deg, #A6D1E6, #E4C1F9, #C8E6C9);
}

h1 {
  color: #546E7A;
}


/* Header */
header {
  background: #E8EAF6;
  /* Misty Lilac to Lavender */
  padding: 1rem 5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.logo img {
  width: 50px;
  margin-right: 0.5rem;
}

header .logo span {
  font-weight: 600;
  font-size: 1.5rem;
  color: #546E7A;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav a {
  color: #546E7A;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #a8e6cf;
  /* Pale Aqua Blue */
}

.nav-active{
  color: #a8e6cf !important;
}

/* Footer */
footer {
  background: #E8EAF6;
  /* Misty Lilac */
  padding: 2rem;
  text-align: center;
  margin-top: 2rem;
  /* border-top: 1px solid #C7C9F2; */
}

footer a {
  color: #546E7A;
  text-decoration: none;
  margin: 0 1rem;
}

footer a:hover {
  color: #B3E5FC;
}

.icon-calender {
    height: 25px;
    margin-right: 10px;
    color: #546E7A;
}

#entryText {
    padding:10px;
    width: 100%;
    min-height: 200px;
    border-radius: 15px;
    border-color: #e2e8f0;
    border-width: 2px;
}

.content-box {
  background: #ffffff;
  padding: 1.5rem;
  margin: 2rem auto;
  max-width: 1000px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.save {
    transform: scale(1.05);
}

.btn {
    padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background: #A8E6CF;
  color: #546E7A;
}

.btn:hover {
  background: #B3E5FC;
  transform: translateY(-3px);
}

.entry-card {
    margin: 2rem auto;
    max-width: 1000px;
    border-radius: 15px;
    text-align: left;
}

.entry-title {
    display: flex;
    width: 100%;
}

.entry-icon {
    display: flex;
    justify-content: end;
    align-items: end;
    padding:5px;  
} 

@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 1rem;
  }

  nav ul {
    flex-direction: column;
    text-align: center;
  }
}